.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  padding:20px;
  background-color: #ff0;
  color: #333;
  text-align:center;
}

.header h1 {
  font-weight:bold;
}

.btn-edit {
  background-color: #4c4;
  border-radius: 50%;
  padding:10px;
  transition: all .2s ease-in-out;
  font-size: 1.2em;
  margin-left:8px;
}

.btn-delete {
  background-color: #f20;
  border-radius: 50%;
  padding:10px;
  transition: all .2s ease-in-out;
  font-size: 1.2em;
  margin-left:8px;
}

.btn-edit2 {
  display:inline-block;
  font-size: 1.2em;
  text-transform: uppercase;
  border-radius: 50%;
  color: #fff;
  background-color: #4c4;
  width:40px;
  height:40px;
  line-height:40px;
  border: 2px solid #f5f5f5;
  text-align:center;
  text-decoration:none;
  box-shadow: 0 0 3px gray;
  vertical-align: middle;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.btn-edit2:hover {
  background-color: #191;
  text-decoration:none;
  color: #fff;
  box-shadow: 0 0 1px gray;
}